
@{
    ViewBag.Title = "Faq Show";
}

<h2>Faq Show</h2>
<!--This is how users will ask a question to the specific mission-->
<label for="addQuestion">Ask a Question!</label>
<form id="addQuestion">
    What is your question?<br />
         <textarea id="potentialQuestion" rows="5"></textarea>
</form>

